@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.banner {
    padding: 15px;
    box-sizing: border-box;
    max-width: 1348px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34, .4);
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 600;
    color: #fff;
}

.banner__logo {
    display: block;
    width: 144px;
    height: 144px;
    margin-right: 27px;
    background-image: url(images/banner-logo.png);
    background-size: 144px 144px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.banner__logo:hover {
    opacity: .7;
}

.banner__discount {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}

.banner__main-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 700;
}

.banner__span-accent {
    padding: 5px 4px 6px;
    background-color: #d83d38;
}

.banner__span-font-size {
    font-size: 12px;
}

.banner__next-title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 600;
}

.banner__info {
    padding-top: 33px;
}

.banner__text {
    margin: 0;
    padding: 0;
    max-width: 202px;
    font-size: 14px;
    line-height: 1.78;
    color: #d0d0d0;
}

.banner__phone {
    margin: 0;
    padding: 7px 0 0 0;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #80312F;
    font-size: 22px;
    line-height: 1.21;
    font-weight: normal;
    color: #f23c37;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.banner__phone:hover {
    opacity: .7;
}

.banner__phone:focus {
    opacity: .7;
}


.banner__arrow {
    width: 169.1px;
    height: 130px;
    background-image: url(images/banner-arrow.svg);
    background-size: 169.1px 130px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-form__title {
    margin: 0;
    padding: 0 0 27px 0;
    font-size: 16px;
    line-height: 1.5625;
    font-weight: 500;
}

.banner-form__overlay {
    position: relative;
}

.banner-form__input-title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -11px;
    left: 15px;
    padding: 0 5px 0;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 500;
    color: #e3e3e3;
    background-color: #a7a7a7;
}

.banner-form__input {
    display: block;
    margin: 0;
    padding: 13.5px 0 14.5px 18.5px;
    width: 359px;
    border: 1px solid #7C7C7C;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 500;
    color: #C1C1C1;
}

.banner-form__button {
    width: 360px;
    padding: 18px 0 17px;
    margin-top: 10.5px;
    background: #D83D38;
    border: none;
    border-radius: 4px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.banner-form__button:hover {
    opacity: .7;
}

.banner-form__button:focus {
    opacity: .7;
}

.banner-form__subtitle {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.container {
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10px;
    line-height: 1.21;
    font-weight: normal;
    color: #d6d6d6;
}

.container__text {
    font-weight: 500;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    box-sizing: border-box;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #797979;
}

.container:hover input ~ .checkmark {
    background-color: transparent;
}


.container input:checked ~ .checkmark {
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
 	top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	border-radius: 2px;
	background: #d83d38;
    transform: translate(-50%, -50%);
}