@font-face {
    src: url(/font/Montserrat-Bold.woff) format('woff');
    font-family: 'Montserrat';
    font-weight: 700;
}

@font-face {
    src: url(/font/Montserrat-SemiBold.woff) format('woff');
    font-family: 'Montserrat';
    font-weight: 600;
}

@font-face {
    src: url(/font/Montserrat-Medium.woff) format('woff');
    font-family: 'Montserrat';
    font-weight: 500;
}

@font-face {
    src: url(/font/Montserrat-Regular.woff) format('woff');
    font-family: 'Montserrat';
    font-weight: 400;
}